In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = 'telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = """
SELECT u.user_id,
       u.lt_day,
       CASE
           WHEN u.lt_day <= 365 THEN 'new'
           ELSE 'old'
       END AS is_new,
       u.age,
       CASE
           WHEN u.gender_segment == 1 THEN 'female'
           WHEN u.gender_segment == 0 THEN 'male'
           ELSE 'n/a'
       END AS gender_segment,
       u.os_name,
       u.cpe_type_name,
       l.country,
       l.city,
       a_s.title AS age_segment,
       t_s.title AS traffic_segment,
       l_s.title AS lifetime_segment,
       u.nps_score,
       CASE
           WHEN u.nps_score <= 6 THEN 'detractors'
           WHEN u.nps_score > 6 AND u.nps_score <= 8 THEN 'passives'
           WHEN u.nps_score > 8 AND u.nps_score <= 10 THEN 'promoters'
       END AS nps_group
       
FROM location AS l
JOIN user AS u ON l.location_id = u.location_id
JOIN age_segment AS a_s ON u.age_gr_id = a_s.age_gr_id
JOIN traffic_segment AS t_s ON u.tr_gr_id = t_s.tr_gr_id
JOIN lifetime_segment AS l_s ON u.lt_gr_id = l_s.lt_gr_id
"""

In [4]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A0CMN5,2729,old,27.0,male,ANDROID,SMARTPHONE,Россия,Архангельск,03 25-34,16 60-65,08 36+,6,detractors
1,A0CYVK,478,old,48.0,female,ANDROID,SMARTPHONE,Россия,Архангельск,05 45-54,06 10-15,06 13-24,7,passives
2,A0HNQU,413,old,42.0,female,ANDROID,SMARTPHONE,Россия,Архангельск,04 35-44,08 20-25,06 13-24,9,promoters

In [5]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

### Укажите ссылку на дашборд на сайте Tableau Public:

[дашборд](https://public.tableau.com/views/nps_16556776154070/Dashboard1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link)

### Укажите ссылку на pdf-файл с презентацией:

[презентация](https://disk.yandex.ru/d/g0SN8lFL7cnjHw)